
/* LANDING PAGE & RESUME PAGE STYLES */
#about-index, #projects, #connect {
    scroll-margin-top: 1.5em;
}

#about-index, #projects {
    background-color: #4ecdc4d1;
    border-radius: 5px;
    padding: 10px;
}

#about-body, .project-body, .project-images {
    width: 75%;
    margin: auto;
}

.resume-btn {
    border-radius: 5px;
    background-color: #FC6F5C!important;
    border: 1px solid #d36262;
    font-size: 20px;
    color: white;
    margin: 0 auto;
    width: 13em;
}

body {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    padding-top: 3.5em;
}

/***** Navbar ******/
.navbar {
    background-color: #202020;
    width: 100%;
}

.navbar-name {
    color: #FC6F5C!important;
    text-decoration: none!important;
    font-family: 'Tangerine', cursive;
    font-size: 1.7em;
}

.navbar-name:hover {
    color: #fc6f5ca8!important;
    transition: all 0.3s ease-out 0s;
}

.nav-link {
    font-size: 18px;
    transition: all 0.3s ease-out 0s;
}

.nav-link:hover {
    transition: all 0.3s ease-out 0s;
}


/***** Header Section ******/
header#index {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    background-image: url(../images/study-smallscrn.jpg);
}

.idCard#index {
    margin: auto;
    background-color: #4ecdc4d1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.idCard#resume {
    margin: auto;
    background-color: #4ecdc4d1;
    margin-top: 30px;
    margin-bottom: 30px;
}

img {
     width: 160px;
 }

h5.name {
    font-size: 2em;
}

.header-body {
     display: inline;
 }

.header-body ul>li>a {
    color: #e34040;
    text-decoration: none;
    line-height: 1.8;
    font-style: italic;
}

.header-body ul>li>a:hover {
    color: #e27a7a;
    text-decoration: none;
    line-height: 1.8;
    font-style: italic;
}

.header-contact li .fa {
    color: black;
    margin-right: 10px;
    font-size:18px;
    width:1.2em;
}

@media(max-width:620px) {

    .idCard#resume {
        margin: auto;
        background-color: #4ecdc4d1;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    header#index {
        background-image: url(../images/study-smallscrn.jpg);
        text-align: center;
    }

    header#resume {
        padding-bottom: 33em;
        text-align: center;
    }

    .idCard {
        width: 335px;
        padding: 35px 0 20px;
    }
    .header-body {
        text-align: left;
    }
    img {
        margin-bottom: 30px!important;
    }
}

@media(min-width:620px) {
    header#index {
        background-image: url(../images/study.jpg);
    }

    .idCard {
        padding: 45px 50px 25px;
        width: 600px;
    }
    img {
        margin: 0 30px 30px 0;
        float: left;
    }
}

@media(min-width:1000px) {
    header#index {
        background-image: url(../images/study-fullscrn.jpg);
    }

    .idCard {
        padding: 45px 100px 45px;
        width: 800px;
    }
    img {
        width: 200px;
        margin-right: 80px;
    }
}


hr {
    background-color: gray;
}

.index-container, .resume-container {
    max-width: 80%;
    margin: auto;
}

#about, #education, #skills, #experience, #achievements {
    scroll-margin-top: 1.5em;
}

.education-content {
    padding-left: 3em;
}

span.font-weight-bold {
    font-size: 18px;
}

@media(max-width: 630px) {
    span.float-right {
        float: none!important;
        display: block;
    }
}

#project-link {
    color: #e34040;
    font-style: italic;
}

#project-link:hover{
    color: #e69797;
}

.proj-img-index {
    margin-left: 30px;
    margin-right: auto;
    width: 100%;
    border: 3px solid #FC6F5C;
    border-radius: 5px;
}

.proj-img-resume {
    border: 3px solid #FC6F5C;
    border-radius: 5px;
    width: 100%;
    margin-left: 30px;
}

.proj-img-index:hover, .proj-img-resume:hover {
    width: 105%;
}


@media(max-width: 787px) {
    .proj-img-index, .proj-img-resume {
        width: 90%;
    }
}

p#secondProj {
    clear: both;
}


/***** Footer ******/
/***** Collapsible Footer Styles *****/
footer {
    background-color: #202020;
    padding: 1rem;
    margin-top: 4em!important;
}


@media(min-width: 1400px) {
    footer {
        padding-left: 12em;
        padding-right: 12em;
    }
}

footer ul {
    padding:0 0 0;
}

footer ul li,.taber
{
    list-style:none;
    margin-bottom:10px;
}

.fa {
    color: white;
    margin-right: 10px;
    font-size:18px;
    width:1.2em;
}

@media(max-width: 800px) {
    .fa {
        width: 15px;
    }
}

.header-contact, .contact {
    list-style: none;
}

ul>li>a, .connect, #guestbook-link {
    color: #a4a4a4;
    text-decoration: none;
    line-height: 1.8;
}

ul>li>a:hover, a:hover, #guestbook-link:hover {
    color: #fc6f5ca8;
    font-weight: 500;
    text-decoration: none;
}

#admin-link {
    color: #3caca4d1;
    text-decoration: none;
}

#admin-link:hover {
    color: #b8ece9;
    text-decoration: none;
}

#adminLock {
    color: #3caca4d1;
    margin-right: 0;
}

.copyright-text {
    color: gray;
    font-size: 13px;
}

footer a.taber {
    font-size: 1.5em;
    color: #FC6F5C;
    text-decoration: none !important;
}

#collapseOne, #collapsetwo {
    margin-top: 1em;
}

footer a.taber:hover {
    text-decoration: none!important;
}

@media (max-width:765px)
{
    .content {
        padding-top: 2%;
        padding-bottom: 2%;
    }

    .top-container {
        padding-bottom: 20px;
    }

    div.col-md-4 {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .taber {
        cursor:auto;
    }
    .taber.collapsed:after {
        content: "+";
        float: right;
    }
    .taber:after {
        content: "-";
        float: right;
    }

}
