<include href="views/includes/header.html"></include>

<!--##################    NAVBAR    ##################-->
<nav class="navbar navbar-expand-md navbar-dark fixed-top" id="navbar-site">
    <a class="navbar-name" href="#">Dana Clemmer</a>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item ml-auto">
            <a class="nav-link" href="logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a>
        </li>
    </ul>
</nav>

<body>

<!--Jumbotron header -->
<div class="jumbotron" id="admin">
    <h1 class="display-4 font-weight-bold text-center">Admin Page</h1>
    <br>
    <h4 class="font-weight-bold text-center">Contact Summary</h4>
</div>

<div class="admin-container">

    <div class="table">
        <br><br>
        <table id="guestbook-table" class="display" data-order='[[0, "DESC"]]'>
            <thead>
            <tr>
                <td>ContactID</td>
                <td>Name</td>
                <td>Job Title</td>
                <td>Company</td>
                <td>LinkedIn</td>
                <td>Email</td>
                <td>How We Met</td>
                <td>Other</td>
                <td>Message</td>
                <td>Email Format</td>
                <td>Timestamp</td>
            </tr>
            </thead>

            <tbody>
            <repeat group="{{ @results }}" value="{{ @result }}">
                <tr>
                    <th>{{ @result.contact_id }}</th>
                    <td>{{ @result.fname }} {{ @result.lname }}</td>
                    <td>{{ @result.job_title }}</td>
                    <td>{{ @result.company }}</td>
                    <td>{{ @result.linkedin }}</td>
                    <td>{{ @result.email }}</td>
                    <td>{{ @result.how_met }}</td>
                    <td>{{ @result.other }}</td>
                    <td>{{ @result.message }}</td>
                    <td>{{ @result.email_format }}</td>
                    <td>{{ @result.contact_date}}</td>
                </tr>

<!--                $contact_date = date("M d, Y g:i a", strtotime($row['contact_date'] . "-3 hours"));-->

            </repeat>
            </tbody>
        </table>
    </div>
</div>

<!--##################    FOOTER SECTION    ##################-->
<include href="views/includes/footer.html"></include>

