<!--Landing Page-->
<include href="views/header.html"></include>

<!--##################    NAVBAR    ##################-->
<nav class="navbar navbar-expand-md navbar-dark fixed-top" id="navbar-site">
    <a class="navbar-name" href="#">Dana Clemmer</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler"
            aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarToggler">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item ml-auto">
                <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item ml-auto">
                <a class="nav-link" href="#education">Education</a>
            </li>
            <li class="nav-item ml-auto">
                <a class="nav-link" href="#skills">Skills</a>
            </li>
            <li class="nav-item ml-auto">
                <a class="nav-link" href="#projects">Projects</a>
            </li>
            <li class="nav-item ml-auto">
                <a class="nav-link" href="#achievements">Achievements</a>
            </li>
        </ul>
    </div>
</nav>

<!--##################    HEADER    ##################-->
<div class="bg-image"></div>

<div class="bg-text text-center text-white">
    <img class="rounded-circle" src="images/profilepic.jpg"
         alt="Profile picture">
    <h1 id="name">Dana Clemmer</h1>
    <a class="fa fa-envelope" href="mailto:Dclemmer2@mail.greenriver.edu?subject=EmailSubjectline" target="_blank"></a>
    <a class="fa fa-linkedin" href="https://www.linkedin.com/in/dana-clemmer/" target="_blank"></a>
    <a class="fa fa-github" href="https://github.com/dclemmer2" target="_blank"></a>
    <a class="fa fa-address-book" href="guestbook.php" target="_blank"></a>
    <br><br>

    <div class="header-body">
        <p class="text-center font-weight-bold pb-3">I am currently a Junior studying Software Development at
            Green River
            College. My strengths
            include back-end development with Java and front-end web development with HTML/CSS, JavaScript, and
            PHP. I have worked on projects that include MySQL. I am seeking an internship that I’ll be able to put my
            skills to
            use.</p>
    </div>
</div>


<!--##################    BODY    ##################-->
<div class="index-container mx-auto pb-5">
    <h1 id="education">Education</h1>
    <hr>
    <p><span class="font-weight-bold">Green River College</span> - Auburn, WA <span class="float-right">September 2020 – Present</span>
    </p>
    <div class="education-content">
        <p>Major: Information Technology-Software Development (BAS), expected June 2022, Current GPA:
            3.9</p>
    </div>
    <p><span class="font-weight-bold">Green River College</span> - Auburn, WA <span class="float-right">January 2017 – August 2019</span>
    </p>
    <div class="education-content">
        <p>Associate in Business, August 2019, GPA: 3.9</p>
        <ul>
            <li>Completed AB degree with High Honors</li>
            <li>Was majoring in business at Seattle Pacific University and transferred to Green River
                College
                and
                completed
                associate degree.
            </li>
        </ul>
    </div>

    <h1 id="skills">Skills and Certifications</h1>
    <hr>
    <ul>
        <li>Languages: Java, JavaScript, SQL</li>
        <li>Web: HTML/CSS</li>
        <li>Applications: Intellij IDEA, PhpStorm, JGrasp, Komodo IDE, Eclipse, Notepad++</li>
        <li>Bootstrap 4 Essential Training through LinkedIn Learning</li>
        <li>MOS Excel Certified</li>
    </ul>

    <br>
    <h1 id="projectsResume">Projects</h1>
    <hr>
    <!-- <div class="card">
         <img src="images/kentOutreach.png" class="card-img-top" alt="...">
         <div class="card-body">
             <h3 class="card-title"><p><span class="font-weight-bold">Outreach Services Management System Project</span> - Auburn, WA<span
                     class="float-right">Fall 2020</span></p></h3>
             <h5>Green River College</h5>
             <ul>
                 <li>As a team (4 people), we created a website for a nonprofit organization through St. James Episcopal Church
                     that is working to fill the needs of the community by providing various services. They can only help a
                     limited number of people on a first-come, first-serve basis, and there are a set of qualifications that
                     customers must meet to be helped. There is a limited amount of staff on hand, so my team created a form that
                     customers can find through the website where they can fill out what services they need if they meet the
                     given qualifications.
                 </li>
                 <li>Utilized HTML5, CSS3, JavaScript, PHP, and MySQL</li>
                 <li><a id="project-link" href="https://dar2.greenriverdev.com/">Check it out!</a></li>
             </ul>
         </div>
     </div>-->
    <div>
        <p><span class="font-weight-bold">Outreach Services Management System Project</span> - Auburn, WA<span
                class="float-right">Fall 2020</span></p>
        <p>Green River College</p>
        <ul>
            <li>As a team (4 people), we created a website for a nonprofit organization that provides various
                services.
                Services are limited, thus customers must meet set qualifications to be helped. There is a limited
                amount of staff on hand, so my team created a form that customers can find through the website where
                they can fill out what services they need if they meet the given qualifications.
            </li>
            <li>Utilized HTML5, CSS3, JavaScript, PHP, and MySQL in PHPStorm</li>
            <li><a id="project-link" href="https://dar2.greenriverdev.com/" target="_blank">Check it out!</a></li>
        </ul>
    </div>
    <div class="row project-images">
        <div class="col-lg-6">
            <a class="project-link-image" href="https://dar2.greenriverdev.com/" target="_blank"><img
                    src="images/kentOutreach.png"
                    class="proj-img-resume center"
                    alt="proj-img"></a>
        </div>
        <div class="col-lg-6">
            <a class="project-link-image" href="https://dar2.greenriverdev.com/" target="_blank"><img
                    src="images/kentOutreach2.png"
                    class="proj-img-resume center"
                    alt="proj-img"></a>
        </div>
    </div>
    <br>
    <p id="secondProj"><span class="font-weight-bold">Systems Programming Project</span> - Auburn, WA<span
            class="float-right">2020</span>
    </p>
    <p>Green River College</p>
    <ul>
        <li>Built a program that lets the user play a simplified version of a Blackjack card game
        </li>
        <li>Utilized Java in IntelliJ</li>
    </ul>
    <br>
    <p id="thirdProj"><span class="font-weight-bold">Object-Oriented Design/Programming Project</span> - Auburn,
        WA<span
                class="float-right">2019</span>
    </p>
    <p>Green River College</p>
    <ul>
        <li>Created a program that utilizes a LinkedList, ArrayList, and varying methods that manages the inventory
            of
            toy store
        </li>
        <li>Utilized Java in jGRASP</li>
    </ul>
    <br>
    <p><span class="font-weight-bold">Front-End Web Development Website Project </span> - Auburn, WA<span
            class="float-right">2019</span>
    </p>
    <p>Green River College</p>
    <ul>
        <li>Built a website composed of multiple websites that I created throughout the quarter</li>
        <li>Utilized HTML/CSS in Notepad++ editor</li>
    </ul>
    <br>
    <h1 id="employment">Employment</h1>
    <hr>
    <p><span class="font-weight-bold">YMCA of Greater Seattle (Kids Zone Counselor) </span> - Kent, WA<span
            class="float-right"> 2019-2020</span>
    </p>
    <p><span class="font-weight-bold">
Sodexo at Seattle Pacific University (Caterer) </span> - Seattle, WA<span
            class="float-right"> September 2017 – June 2018</span>
    </p>
    <br>
    <h1 id="achievements">Achievements and Activities</h1>
    <hr>
    <ul>
        <li>SPU President’s Scholar Award (4-year award), 2017</li>
        <li>Green River College High Honors Award, 2019</li>
        <li>American Heart Association, Volunteer, 2019</li>
        <li>Community Meal for homeless at Calvary Chapel South, Volunteer, 2013-2018</li>
        <li>We Day at KeyArena, Volunteer, 2017</li>
        <li>VBS at Calvary Chapel South, Volunteer, 2016</li>
    </ul>


    <h1 class="text-center" id="projects">Projects</h1><br>
    <div class="card bg-white shadow mx-auto">
        <div class="card-body">
            <div class="project">
                <div class="row project-images mx-auto">
                    <div class="col-lg-6">
                        <a class="project-link-image" href="https://dar2.greenriverdev.com/" target="_blank"><img
                                src="images/kentOutreach.png"
                                class="proj-img-index center"
                                alt="proj-img"></a>
                    </div>
                    <div class="col-lg-6">
                        <a class="project-link-image" href="https://dar2.greenriverdev.com/" target="_blank"><img
                                src="images/kentOutreach2.png"
                                class="proj-img-index center"
                                alt="proj-img"></a>
                    </div>
                </div>

                <div class="project-body mx-auto">
                    <p><span class="font-weight-bold">Outreach Services Management System Project</span> - Auburn,
                        WA<span
                                class="float-right">Fall 2020</span></p>
                    <p>Green River College</p>
                    <ul>
                        <li>As a team (4 people), we created a website for a nonprofit organization that provides
                            various
                            services.
                            Services are limited, thus customers must meet set qualifications to be helped. There is
                            a
                            limited
                            amount of staff on hand, so my team created a form that customers can find through the
                            website where
                            they can fill out what services they need if they meet the given qualifications.
                        </li>
                        <li>Utilized HTML5, CSS3, JavaScript, PHP, and MySQL in PHPStorm</li>
                        <li><a id="project-link" href="https://dar2.greenriverdev.com/" target="_blank">Check it
                            out!</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--##################    FOOTER SECTION    ##################-->
<include href="views/footer.html"></include>
